@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size-base: 14px;
}
html {
    font-size: var(--font-size-base);
}

/**
 * Color de fondo general
 */
.main-color {
    @apply dark:text-zinc-300 dark:bg-zinc-900;
    @apply bg-white;
}

.main-color-icon {
    @apply stroke-current text-slate-900 dark:text-zinc-200;
}

.text-success {
    @apply text-green-600 dark:text-green-500;
}

.text-danger {
    @apply text-red-500 dark:text-red-700;
}

/**
 * Custom break word
 */
.line-clamp-2-custom{
    word-break:keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: hidden;
}

/**
* fichero principal: ControlsPlaylist.svelte
* Estilo para el botón de control de lista
*/
.btn-small-control-list {
    @apply mx-1 my-2 px-3 py-1 text-xs font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-600;
    @apply dark:bg-zinc-900 dark:text-white dark:border-zinc-700;
}
.btn-small-control-list:disabled{
    @apply opacity-40 cursor-not-allowed;
}

.outline-red {
    outline: 1px solid theme('colors.red.500');
}

@layer utilities {
    
    .h-screen-wo-menu-20 {
        height: calc(100vh - theme('height.20'));
    }

    .max-h-screen-wo-menu-20 {
        max-height: calc(100vh - theme('height.20'));
    }

    .h-screen-wo-menu-10 {
        height: calc(100vh - theme('height.10'));
    }

    .max-h-screen-wo-menu-10 {
        max-height: calc(100vh - theme('height.10'));
    }

}

.main-left-panel {
    @apply divide-y w-9/12 fixed h-screen-wo-menu-20 md:h-screen-wo-menu-10 bottom-0 left-0 overflow-y-scroll;
}

.main-right-panel {
    @apply divide-y w-3/12 fixed h-screen-wo-menu-20 md:h-screen-wo-menu-10 bottom-0 right-0;
}

.main-left-panel > .content-parent,
.main-right-panel > .content-parent {
    @apply w-full flex flex-col max-h-screen-wo-menu-20 md:max-h-screen-wo-menu-10;
}

.main-center-panel-full {
    @apply divide-y w-full fixed h-screen-wo-menu-20 md:h-screen-wo-menu-10 bottom-0 right-0 overflow-y-scroll;
}

.navigation-sticky {
    @apply sticky top-0 w-full main-color z-40 divide-y border-b;
}

.border-theme {
    @apply border border-zinc-300 dark:border-zinc-600 rounded;
}

/**
* fichero principal: src/layouts/+ThemeToggle.svelte
* Estilo para el botón de cambio de tema
*/
.theme-toggle {
    @apply text-lg not-italic font-normal leading-7 z-50 text-gray-900 box-border m-0 max-w-full p-0 align-baseline;
    @apply w-12 h-12 fixed cursor-pointer flex justify-center items-center;
    @apply rounded-full border-none border-separate border-spacing-0;
    @apply hover:outline-zinc-400 hover:outline outline-1;
}

/* File: src/components/global/+LabelIcon.svelte */
[data-status] [data-type]{
    display: none;
    transition: 1s;
}
[data-status="pass"] [data-type="check"]{
    display: block!important;
}

[data-status="error"] [data-type="exclamation"]{
    display: block!important;
}

/* File: src/components/app/player/partials/PlayerControls.svelte */
.player-button-base {
    @apply mx-2 mt-0 rounded-full;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
}
.player-button-base .icon-base {
    @apply stroke-current text-slate-900 h-6 w-6;
}
.player-button-base .icon-base {
    @apply dark:text-white;
}

.player-button-base .icon-base-success {
    @apply text-green-600 dark:text-green-500 h-6 w-6;
}

/** 
* File: src/components/app/player/partials/PlayerInformationSong.svelte
*
* Custom marquee, single line, with gap between elements
*/
.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
}
.marquee__animation {
    animation: scroll 30s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.breadcrumbs .item {
    @apply text-sm text-zinc-700 hover:opacity-75 md:ml-2 dark:text-zinc-400 dark:hover:text-white ;
}