@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    font-size: 12px;
} */

/**
 * Color de fondo general
 */
.main-color {
    @apply dark:text-zinc-300 dark:bg-zinc-900;
    @apply bg-white;
}

.text-success {
    @apply text-green-600 dark:text-green-500;
}

.text-danger {
    @apply text-red-500 dark:text-red-700;
}

/**
* fichero principal: ControlsPlaylist.svelte
* Estilo para el botón de control de lista
*/
.btn-small-control-list {
    @apply mx-1 my-2 px-3 py-1 text-xs font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-600;
    @apply dark:bg-zinc-900 dark:text-white dark:border-zinc-700;
}
.btn-small-control-list:disabled{
    @apply opacity-40 cursor-not-allowed;
}

.outline-red {
    outline: 1px solid theme('colors.red.500');
}

.h-screen-wo-menu {
    height: calc(100vh - theme('height.24'));
}

.main-left-panel {
    @apply divide-y w-6/12 fixed h-screen-wo-menu bottom-0 left-0 overflow-y-scroll;
}

.main-right-panel {
    @apply divide-y w-6/12 fixed h-screen-wo-menu bottom-0 right-0 overflow-y-scroll;
}
