/**
 * This file is used to define global styles for the app.
 */

/* File: src/components/global/+LabelIcon.svelte */
[data-status] [data-type]{
    display: none;
    transition: 1s;
}
[data-status="pass"] [data-type="check"]{
    display: block!important;
}

[data-status="error"] [data-type="exclamation"]{
    display: block!important;
}

/* File: src/components/app/player/partials/PlayerControls.svelte */
.player-button-base {
    @apply p-2 mx-2 mt-0 mb-2 rounded-full;
}
.player-button-base .icon-base {
    @apply stroke-current text-slate-900 h-6 w-6;
}
.player-button-base .icon-base {
    @apply dark:text-white;
}