/**
 * This file is used to define global styles for the app.
 */

/* File: src/components/global/+LabelIcon.svelte */
[data-status] [data-type]{
    display: none;
    transition: 1s;
}
[data-status="pass"] [data-type="check"]{
    display: block!important;
}

[data-status="error"] [data-type="exclamation"]{
    display: block!important;
}

/* File: src/components/app/player/partials/PlayerControls.svelte */
.player-button-base {
    @apply mx-2 mt-0 rounded-full;
}
.player-button-base .icon-base {
    @apply stroke-current text-slate-900 h-6 w-6;
}
.player-button-base .icon-base {
    @apply dark:text-white;
}

/** 
* File: src/components/app/player/partials/PlayerInformationSong.svelte
*
* Custom marquee, single line, with gap between elements
*/
.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    min-width: 100%;
}
.marquee__animation {
    animation: scroll 30s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}